<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<title>Home</title>
</head>
<body>
	<p>
		<a th:href="@{/}" th:text="#{msg.Home}" />
	</p>	
	<h1>
		<span th:text="#{msg.AddAccounts}" />
	</h1>


	<form action="#" th:action="@{/user-accounts}"
		th:object="${userAccounts}" method="post">
		
			<p th:each="err : ${errorMessages}" th:text="${err}" style="color: red; font-style: italic;"></p>
			<p th:text="${successMessage}" style="color: green; font-style: italic;"></p>
		
		<table>
			<tr>
				<td><span th:text="#{msg.name}" /></td>
				<td><input type="text" th:field="*{name}" /></td>
			</tr>
			<tr>
				<td><span th:text="#{msg.phone}" /></td>
				<td><input type="text" th:field="*{phone}" /></td>
			</tr>
			<tr>
				<td><span th:text="#{msg.email}" /></td>
				<td><input type="text" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td><span th:text="#{msg.address}" /></td>
				<td><input type="text" th:field="*{address}" /></td>
			</tr>
			<tr>
				<td><span th:text="#{msg.country}" /></td>
				<td><input type="text" th:field="*{country}" /></td>
			</tr>
			<tr>
				<td><span th:text="#{msg.department}" /></td>
				<td><input type="text" th:field="*{department}" /></td>
			</tr>
		</table>
		<br /> 
		<input type="submit" value="Create" />
	</form>
</body>
</html>