<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<title>Home</title>
</head>
<body>
	<p>
		<a th:href="@{/}" th:text="#{msg.Home}" />
	</p>
	<h1>
		<span th:text="#{msg.DeleteAccounts}" />
	</h1>
	<p th:each="err : ${errorMessages}" th:text="${err}"
		style="color: red; font-style: italic;"></p>
	<p th:text="${successMessage}"
		style="color: green; font-style: italic;"></p>

	<table>
		<tr>
			<td><span th:text="#{msg.name}" /></td>
			<td>
			<select class="form-control" th:field="${selectedUserAccount}"
				id="dropOperator">
					<option value="0">Accounts</option>
					<option th:each="userAccount : ${userAccounts}" th:value="${userAccount}"
						th:text="${userAccount.name}"></option>
			</select>
			</td>
		</tr>
		<tr>
		<td>

			
		</td>
		<td>
		
		</td>
		</tr>
		
	</table>
	<br />
</body>
</html>